<div class="newsText">
    <%= image_tag("contactClip.png", class: "banner") %>
    <div class="contact">
        <div class="column">
            <%= image_tag("PTCOffices.jpg", size: "250x150", title: "PTC Lexington Offices") %>
            <h4 style="margin: 0;">Pyramid Technical Consultants, Inc.</h4>
            <br>1050 Waltham Street, Suite 200
            <br>Lexington, MA 02421, USA
            <br>
            <br>Phone: 781.402.1700
            <br>Fax: 781.402.1750
            <br>Email Service and Returns: support@ptcusa.com
            <br>Email Sales and Technical Enquiries: sales@ptcusa.com
        </div>
        <div class="column">
            <%= image_tag("HBP_off_1.jpg", size: "250x150", title: "PTC Henfield Offices") %>
            <h4 style="margin: 0;">Pyramid Technical Consultants Europe, Ltd.</h4>
            <br>Suite 3 Unit 6-7 Henfield Business Park
            <br>Henfield, BN5 9SL, United Kingdom
            <br>
            <br>URL: <a href="http://www.ptceurope.com/">www.ptceurope.com</a>
            <br>Phone: +44 (0)1273 492001
            <br>Email: jgordon@ptcusa.com
        </div>
    </div>
</div>