<div class="newsText">
	<h5>Industrial Control</h5><br /><br />
	<%= image_tag("IndustrialControlRF.png", style: "margin-bottom: 20px" %><br />
	<p>Pyramid has supplied products and services particularly into the semiconductor process market. The combination of sophisticated and ever advancing technology, the need for high reliability, and operating environments that often have high levels of HF, RF and transient electrical noise, make great demands on equipment. Pyramid products feature a field-proven digital fiber optic communications channel that is immune to electrical interference. It also allows control electronics to be placed at high voltage, for example in the terminal of an ion implanter, just as easily as at ground potential.</p>
	<p>The modular nature of the Pyramid equipment allows large and complex systems to be set up and operated in the minimum time, saving you time and money in the prototype stage. As you progress to regular production, you need to know that the equipment you buy is reliable and compatible with regulations. Pyramid products are CE marked for compliance with the Low-voltage and Machinery Directives, and manufactured using RoHS-compatible materials and processes.</p>
</div> 
