<a href="index.html"><%= image_tag("logo.png", class: "logo") %></a>
<div id="nav">
	<ul>
		<a href="index.html"><li class="rollOver"><p>Home</p></li></a>
    <a href="news.html"><li class="rollOver"><p>News</p></li></a>
    <a href="products.html"><li class="rollOver"><p>Products</p></li></a>
    <a href="downloads.html"> <li class="rollOver"><p>Downloads</p></li></a>
    <a href="aboutUs.html"><li class="rollOver"><p>About Us</p></li></a>
    <a href="contact.html"><li class="rollOver"><p>Contact</p></li></a>
	</ul>
</div>
</br></br>
